<div class="pagination pagination-centered">
    <ul>
        <li>
            {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}">Previous</a>
            {% endif %}
        </li>
        <li>
            <a>Page {{page.number}} of {{page.paginator.num_pages}}</a>
        </li>
    <li>
            {% if page.has_next %}
                <a href="?page={{page.next_page_number}}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>